@import "../../../../assets/scss/settings";

:host-context(app-header) {
  display: block;
  position: sticky;
  top: 0;
}

header {
  background-color: rgba(#000, .4);
}

.content-container {
  @extend %fcs;
}

.img-holder {
  @extend %fcc;
  flex-shrink: 0;
  padding: rem-calc($default-size / 2);
  margin-right: rem-calc($default-size);
}

.logo {
  width: rem-calc(68);
}

app-navbar {
  display: block;
  flex: auto;
}
