@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "assets/scss/helpers/reset";
@import "assets/scss/vendors/normalize";
@import "assets/scss/settings";

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 rem-calc($default-size);
}

.ttl-holder {
  @extend %fcc;
  margin-bottom: rem-calc($default-size * 2);
  .ttl {
    font: 700 #{rem-calc(34)}/1.2 $base-font-family;
    text-transform: uppercase;
    text-align: center;
    color: rgba(#000000, .6);
  }
}
