@import "../../assets/scss/settings";

app-faq-article {
  display: block;
  padding: rem-calc(40 60);
  background-color: rgba(#000000, .4);
  &:not(:last-of-type) {
    margin-bottom: rem-calc($default-size);
  }
}
